* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient( rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.623)), url("ideas2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.firstListLine {
  display: flex;
  justify-content: center;
}